<html>
<head>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<title>ELASTICSEARCH SEARCH</title>
	<script>
		function showResult(str) {
		  if (str.length==0) {
		    document.getElementById("livesearch").innerHTML="";
		    document.getElementById("livesearch").style.border="0px";
		    return;
		  }
		  if (window.XMLHttpRequest) {
		    // code for IE7+, Firefox, Chrome, Opera, Safari
		    xmlhttp=new XMLHttpRequest();
		  } else {  // code for IE6, IE5
		    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		  }
		  xmlhttp.onreadystatechange=function() {
		    if (this.readyState==4 && this.status==200) {
		      document.getElementById("livesearch").innerHTML=this.responseText;
		      document.getElementById("livesearch").style.border="1px solid #A5ACB2";
		    }
		  }
		  xmlhttp.open("GET","search?q="+str,true);
		  xmlhttp.send();
		}
	</script>
</head>
<body>

<form id='buscar'>
	<h2>Elasticsearch | Search as you type</h2>
	<h3>By: João Neto</h3>
	Busca: <input id='searchInput' type="text" size="30" onkeyup="showResult(this.value)" autocomplete="off">
	<div id="livesearch" style="position: relative; width: 300px; left: 50px"></div>
	<!-- 
	- Estudar a possibilidade de colocar UL e LI 
	- Completar o busca com o valor;
	- Navegar com setas do teclado;
	- Completar com TAB
	-->
</form>
<form id='fullSearch'>
	<div id="searchResult"></div>
	<div id="fullSearchResult"></div>
</form>

<button onclick="clearSearch()">LIMPAR BUSCA</button>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
$('form#buscar').ready(function() {
	$('#buscar').on('submit', function(event) {
	  $.ajax({
	    data : {
	      q: $('#searchInput').val(),
	    },
	  type : 'GET',
	  url : '/search?'
	  })
	  .done(function(data) {
	    //console.log(data);
	  });
	  event.preventDefault();
	});
});

function dosomething(val){
	console.log(val);
	// document.getElementById("livesearch").value = "";
	document.getElementById("searchResult").innerHTML = "";
	$('#searchResult').append("<h3>Busca por: "+ val +"</h3>").show();
	$.ajax({
		data : {
			q: val,
		},
		type : 'GET',
		url : '/fullsearch?qq='+val
	})
	.done(function(data) {
		document.getElementById("fullSearchResult").innerHTML = "";
		var searchReturn = data.split("|");
		console.log(searchReturn);
		for (i = 0; i < searchReturn.length; i++){
			$('#fullSearchResult').append(searchReturn[i]+"<p>").show();
		}
	});
}

function clearSearch(){
	document.getElementById("searchResult").innerHTML = "";
	document.getElementById("fullSearchResult").innerHTML = "";
}

</script>
	<!--
	Referência 
	https://www.w3schools.com/php/php_ajax_livesearch.asp
	-->
</body>
</html>
